body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: rgb(27, 27, 27);
    margin-bottom: 48px;
}
h1 {
    font-size: 48px;
    text-align: center;
    color: rgb(15, 53, 15);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a, a:active, a:visited {
    color:indigo;
}
a:hover {
    text-decoration: none;
}
img {
    width: 900px;
    height: 500px;
}
